div.infoPanel {
  width: 300px;
/*  height: 600px; */
  right: 0;
  top: 0;
  position: absolute;
  background: rgba(255,255,255,0.8);
  border: 2px solid #aaa;
  color: #000;
  display: none;
}

div.infoPanel dt {
  font-weight: bolder;
}
